
<div class="container m ">

<div class="card w-80" >
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Add" icon="pi pi-plus" [routerLink]="['/services/add']" class="p-button-success p-mr-2"></button>      
        </ng-template>
    </p-toolbar>

    <p-table [value]="services" [rows]="20" [paginator]="true" >
        
        <ng-template pTemplate="header">
            <tr>        
                <th>id </th>
                <th>Name</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-service>
            <tr>
                <td>{{service.id}}</td>
                <td>{{service.name}}</td>     
                <td style="display: flex; justify-content: end;">
                    <button [routerLink]="['/services/add', service.id]" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" ></button>
                    <button  (click)="deleteService(service.id)" style="margin-left: 10px;" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                 In total there are {{services ? services.length : 0 }} products. 
            </div>
        </ng-template>
    </p-table>
</div>

</div>