 <div
     appChangeProductCard 
     [opacityValue]=0.6
     class="card m-2" style="width: 18rem;">
   <img src="./assets/img/"> 
    <div class="card-body" 
    [ngClass]="{
      'card-body':true
    }"
    >
      <h5 class="card-title">{{product.name | titlecase | uppercase}}</h5>
      <p class="card-text" >quantityPerUnit:{{product.quantityPerUnit}}</p>
      <p 
      class="card-text"
      appOnSale
      [onSaleColor]="onMouseColor" 
      [onSaleText]="onSaleText" 
      [isOnSale]="product.unitPrice > 30 "
      >
      {{product.unitPrice | kdv: 0.8 | currency}}
      </p>
      <p class="card-text">stock:{{product.unitsInStock}}</p>
      <p class="card-text">reorder level:{{product.reorderLevel}}</p>
      <button (click)="addToCartEvent()" class="btn btn-primary">Sepete Ekle</button>
    </div>
  </div>
