<p>Sepetinizde {{cartItems.length}} ürün var</p>

<!-- <input class="form-control mb-5" [(ngModel)]="filterText" type="search" placeholder="Search" aria-label="Search">
  
  <ng-template [ngIf]="productList" [ngIfElse]="loading">

  <ng-template [ngIf]="productList.length>0" [ngIfElse]="alert">
    <div class="row">
        <div class="col-4" *ngFor="let p of productList | filterProduct:filterText">
           <etiya-product-card (onBtnClick)="addToCart($event)" [product]="p"></etiya-product-card>
        </div>
    </div>
  </ng-template>
</ng-template>

<ng-template #loading>
  <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>     
</ng-template>

<ng-template #alert>
  <div class="alert alert-info" role="alert">
    Sepette Ürün yok!
  </div>
  </ng-template> -->

  
 <!-- <div class="row">
  <ng-container [ngSwitch]="status">
    <h1 *ngSwitchCase="'init'">Welcome!</h1>
    <div *ngSwitchCase="'loading'" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <ng-container *ngSwitchCase="'loaded'">
      <div *ngIf="productList.length>0; else notFound"></div>
      <ng-container *ngIfNot="productList.length===0; else notFound">
        <div class="col-4" *ngFor="let p of productList">
          <etiya-product-card (onBtnClick)="addToCart($event)" [product]="p"></etiya-product-card>
        </div>
      </ng-container>
    </ng-container>

    <div *ngSwitchDefault class=" alert alert-danger" role="alert">
      A simple danger alert- check it out!
      <span></span>
    </div>
  </ng-container>
</div>

<ng-template #notFound >Ürün Yok</ng-template>  -->


<div *appWelcome="2000 else other">
  welcome
</div>
<ng-template #other>
  <div class="col-4" *appMultiple="7">product</div>
</ng-template>

