<button type="button" class="btn btn-danger mb-5" routerLink="/dashboard/customer/add">Add Customer</button>

<table  class="table table-primary">
    <thead>
      <tr >
        <th scope="col">ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">Contact Name </th>
        <th scope="col">Contact Title</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Region</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Country</th>
        <th scope="col">Phone</th>
        <th scope="col">Customer Key</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customerList">
        <th scope="row">{{c.id}}</th>
        <td>{{c.companyName}}</td>
        <td>{{c.contactName}}</td>
        <td>{{c.contactTitle}}</td>
        <td>{{c.street}}</td>
        <td>{{c.city}}</td>
        <td>{{c.region}}</td>
        <td>{{c.postalCode}}</td> 
        <td>{{c.country}}</td>
        <td>{{c.phone}}</td>
        <td>{{c.customerKey}}</td>
        <td>
          <button type="button" [routerLink]="['/dashbord/customer', c.id]" class="btn btn-danger">Edit</button>
        </td>
        <td>
          <button type="button" (click)="deleteCustomer(c.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
